DATABASE_URL="postgresql://postgres:password@localhost:5432/rt-shopify-app"
SHOPIFY_CLIENT_SECRET=""
SHOPIFY_STORE_DOMAIN="your-store.myshopify.com"
SHOPIFY_ADMIN_ACCESS_TOKEN=""
SHOPIFY_WEBHOOK_SECRET=""
SHOPIFY_WEBHOOK_BASE_URL="https://your-dev-url.trycloudflare.com"
